@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.App {
  margin: 20px;
}

.card-header {
  padding-top: 15px;
}

.card-body {
  background-image: linear-gradient(to top, #dad4ec 0%, #f3e7e9 100%);
}